/*  */
@import "tailwindcss";

/* FONTS: */

/* firago-latin-300-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-300-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-300-normal.woff)
      format("woff");
}

/* firago-latin-400-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff)
      format("woff");
}

/* firago-latin-500-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-500-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-500-normal.woff)
      format("woff");
}

/* firago-latin-600-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-600-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-600-normal.woff)
      format("woff");
}

/* firago-latin-700-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-700-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-700-normal.woff)
      format("woff");
}

/* firago-latin-800-normal */
@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-800-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-800-normal.woff)
      format("woff");
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "FiraGO", sans-serif;
  min-width: 1920px;
}

/* MODAL STYLES */
.modal {
  @apply fixed transform -translate-x-1/2 -translate-y-1/2 top-[50%] left-[50%] w-[913px] rounded-[10px] pt-[40px] px-[50px] pb-[60px] h-[766px] bg-[rgb(255,255,255)] z-51;
}

.modal-overlay {
  @apply fixed w-full h-full top-0 left-0 bg-[#0D0F1026]/15 z-50 backdrop-blur-sm;
}
